In [1]:
import pandas as pd
import numpy as np
import sklearn as skl
from sklearn import preprocessing
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

# Education:

In [2]:
#load education data
#include 'high school or higher' and 'college or higher' for pop 25+
col_1 = 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over'
col_2 = 'Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate or higher'
col_3 = "Margin of Error!!Total!!AGE BY EDUCATIONAL ATTAINMENT!!Population 25 years and over!!Bachelor's degree or higher"
education = pd.read_csv('C:/Users/rgale/team_117/data/education.csv',skiprows=1, usecols=['id','Geographic Area Name',col_1,col_2,col_3])
#rename the columns
education = education.rename(columns={col_1:'Population 25+',col_2:'High school graduate or higher',col_3:"Bachelor's degree or higher",'Geographic Area Name':'Location'})
education.head()

,id,Location,Population 25+,High school graduate or higher,Bachelor's degree or higher
0,0500000US01001,"Autauga County, Alabama",37367,33076,766
1,0500000US01003,"Baldwin County, Alabama",151112,137219,1866
2,0500000US01005,"Barbour County, Alabama",17964,13152,254
3,0500000US01007,"Bibb County, Alabama",16168,12782,354
4,0500000US01009,"Blount County, Alabama",39791,32028,498

In [3]:
#add column for percentage of people without a high school degree
education['pct_no_high_school_degree']=((education['Population 25+']-education['High school graduate or higher'].astype('float64'))/education['Population 25+'].astype('float64')*100)

In [4]:
#add column for percentage of people without a bachelor's degree
education['pct_no_college_degree']=((education['Population 25+']-education["Bachelor's degree or higher"].astype('float64'))/education['Population 25+'].astype('float64')*100)

In [5]:
#add FIPS code
fips = []
for county_id in education['id']:
    fips_i = county_id[-5:]
#     print(fips)
    fips.append(fips_i)

In [6]:
#add column with the FIPS codes
education['FIPS'] = fips
education.head()

,id,Location,Population 25+,High school graduate or higher,Bachelor's degree or higher,pct_no_high_school_degree,pct_no_college_degree,FIPS
0,0500000US01001,"Autauga County, Alabama",37367,33076,766,11.483394,97.950063,01001
1,0500000US01003,"Baldwin County, Alabama",151112,137219,1866,9.193843,98.765154,01003
2,0500000US01005,"Barbour County, Alabama",17964,13152,254,26.786907,98.586061,01005
3,0500000US01007,"Bibb County, Alabama",16168,12782,354,20.942603,97.810490,01007
4,0500000US01009,"Blount County, Alabama",39791,32028,498,19.509437,98.748461,01009

In [14]:
#make the FIPS column into a string
education['FIPS']=education['FIPS'].astype(str)

# Poverty and Median Income

In [8]:
#read the poverty and income data 
poverty = pd.read_csv('C:/Users/rgale/team_117/data/poverty.csv', usecols=['County ID','State / County Name','All Ages in Poverty Percent','Median Household Income in Dollars'])

#rename columns
poverty = poverty.rename(columns={'County ID':'FIPS_code','All Ages in Poverty Percent':'pct_poverty','Median Household Income in Dollars':"median_income"})
poverty.head()

   FIPS_code  State / County Name  pct_poverty median_income
0          0        United States         12.3       $65,712
1       1000              Alabama         15.6       $51,771
2       1001  Autauga County (AL)         12.1       $58,233
3       1003  Baldwin County (AL)         10.1       $59,871
4       1005  Barbour County (AL)         27.1       $35,972

In [9]:
#make the FIPS column into a string
poverty['FIPS_code']=poverty['FIPS_code'].astype(str)

In [10]:
#merge data
education = pd.merge(education, poverty, left_on=['FIPS'], right_on=['FIPS_code'])

In [13]:
#remove unecessary columns
education=education.drop(columns=['Population 25+','High school graduate or higher',"Bachelor's degree or higher", 'FIPS_code','State / County Name', 'id'])
education.head()

,Location,pct_no_high_school_degree,pct_no_college_degree,FIPS,pct_poverty,median_income
0,"Kent County, Delaware",12.565436,99.083470,10001,12.7,"$58,804"
1,"New Castle County, Delaware",8.356334,99.356162,10003,10.4,"$76,076"
2,"Sussex County, Delaware",11.879243,99.192569,10005,12.1,"$64,839"
3,"District of Columbia, District of Columbia",9.076816,99.585927,11001,14.1,"$90,395"
4,"Alachua County, Florida",7.388892,98.926612,12001,18.4,"$49,880"