In [1]:
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
data = pd.read_csv("C:/Users/rgale/team_117/data/education.csv")

In [6]:
data.head()

,GEO_ID,NAME,S1501_C01_001E,S1501_C01_001M,S1501_C01_002E,S1501_C01_002M,S1501_C01_003E,S1501_C01_003M,S1501_C01_004E,S1501_C01_004M,...,S1501_C06_060E,S1501_C06_060M,S1501_C06_061E,S1501_C06_061M,S1501_C06_062E,S1501_C06_062M,S1501_C06_063E,S1501_C06_063M,S1501_C06_064E,S1501_C06_064M
0,id,Geographic Area Name,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Margin of Error!!Total!!AGE BY EDUCATIONAL ATT...,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Margin of Error!!Total!!AGE BY EDUCATIONAL ATT...,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Margin of Error!!Total!!AGE BY EDUCATIONAL ATT...,Estimate!!Total!!AGE BY EDUCATIONAL ATTAINMENT...,Margin of Error!!Total!!AGE BY EDUCATIONAL ATT...,...,Estimate!!Percent Female!!MEDIAN EARNINGS IN T...,Margin of Error!!Percent Female!!MEDIAN EARNIN...,Estimate!!Percent Female!!MEDIAN EARNINGS IN T...,Margin of Error!!Percent Female!!MEDIAN EARNIN...,Estimate!!Percent Female!!MEDIAN EARNINGS IN T...,Margin of Error!!Percent Female!!MEDIAN EARNIN...,Estimate!!Percent Female!!MEDIAN EARNINGS IN T...,Margin of Error!!Percent Female!!MEDIAN EARNIN...,Estimate!!Percent Female!!MEDIAN EARNINGS IN T...,Margin of Error!!Percent Female!!MEDIAN EARNIN...
1,0500000US01001,"Autauga County, Alabama",4808,193,601,172,1828,326,1862,393,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
2,0500000US01003,"Baldwin County, Alabama",15483,325,2450,414,5700,508,5951,592,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
3,0500000US01005,"Barbour County, Alabama",2090,65,525,139,970,158,544,133,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)
4,0500000US01007,"Bibb County, Alabama",1694,219,305,131,878,257,482,161,...,(X),(X),(X),(X),(X),(X),(X),(X),(X),(X)