# Personal Income

In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('RawData/PersonalIncome_allcounties.csv')
df.head()

,GeoFIPS,GeoName,Region,TableName,LineCode,IndustryClassification,Description,Unit,1969,1970,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,"""00000""",United States,,CAINC1,1.0,...,Personal income (thousands of dollars),Thousands of dollars,791229000,855525000,...,12541995000,13315478000,13998383000,14175503000,14982715000,15717140000,16151881000,16937582000,17839255000,18542262000
1,"""00000""",United States,,CAINC1,2.0,...,Population (persons) 1/,Number of persons,201298000,203798722,...,309321666,311556874,313830990,315993715,318301008,320635163,322941311,324985539,326687501,328239523
2,"""00000""",United States,,CAINC1,3.0,...,Per capita personal income (dollars) 2/,Dollars,3931,4198,...,40547,42739,44605,44860,47071,49019,50015,52118,54606,56490
3,"""01000""",Alabama,5,CAINC1,1.0,...,Personal income (thousands of dollars),Thousands of dollars,9737715,10628318,...,161516561,167942757,172804075,174415420,180457683,188711443,192281933,199999756,208752683,216449038
4,"""01000""",Alabama,5,CAINC1,2.0,...,Population (persons) 1/,Number of persons,3440000,3449846,...,4785437,4799069,4815588,4830081,4841799,4852347,4863525,4874486,4887681,4903185

In [24]:
df_pi= df[['GeoFIPS','LineCode','Description','Unit','2016','2017','2018','2019']]
df_pi['GeoFIPS'] = df['GeoFIPS'].str.replace(r'"', '')
df_pi.dropna()

<ipython-input-24-470109515799>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_pi['GeoFIPS'] = df['GeoFIPS'].str.replace(r'"', '')

,GeoFIPS,LineCode,Description,Unit,2016,2017,2018,2019
0,00000,1.0,Personal income (thousands of dollars),Thousands of dollars,16151881000,16937582000,17839255000,18542262000
1,00000,2.0,Population (persons) 1/,Number of persons,322941311,324985539,326687501,328239523
2,00000,3.0,Per capita personal income (dollars) 2/,Dollars,50015,52118,54606,56490
3,01000,1.0,Personal income (thousands of dollars),Thousands of dollars,192281933,199999756,208752683,216449038
4,01000,2.0,Population (persons) 1/,Number of persons,4863525,4874486,4887681,4903185
...,...,...,...,...,...,...,...,...
9589,97000,2.0,Population (persons) 1/,Number of persons,11888537,12062055,12233639,12399296
9590,97000,3.0,Per capita personal income (dollars) 2/,Dollars,47549,49991,52936,54873
9591,98000,1.0,Personal income (thousands of dollars),Thousands of dollars,3118260649,3279057722,3472097346,3634009401
9592,98000,2.0,Population (persons) 1/,Number of persons,55638442,56059482,56350416,56572426
9593,98000,3.0,Per capita personal income (dollars) 2/,Dollars,56045,58492,61616,64236

In [25]:
type(df_pi)

pandas.core.frame.DataFrame

In [26]:
df_pi.to_csv('CleanData/PersonalIncome-Clean.csv')